@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

.areaJogador {
    width: 24%;
    float: right;
    margin-right: 1%;
    margin-left: 1%;
}

.campo {
    border-radius: 12px
}

#areaJogador1 {
    background-color: rgb(211, 211, 211);
    display: flex;
    margin-top: 102%;
    font-family: 'Gabriela', serif;
    font-weight: bold;
    font-size: 15pt;
    
}

#areaJogador2{
    background-color: rgb(211, 211, 211);
    display: flex;
    margin-top: 27%;
    font-family: 'Gabriela', serif;
    font-weight: bold;
    font-size: 15pt;
}

.imgPeca {
    float: right;
    margin-left: 2%;
    margin-top: 2%;
}


p{
    margin-right: 7%;
    text-align: center;
    width: 79%;
    font-family: 'Gabriela', serif;
    font-size: 15pt;
    margin:auto;
}
