body{
    min-width: 985px;
}

#tabuleiro {
    width: 713px;
    height: 713px;
    border: #000000 solid 2px;
    border-radius: 5px;
    margin: auto ;
    float: right;
}

.casaClara {
    float: left;
    font-size: 65px;
    text-align: center;
    background-color: white;
    cursor: pointer;
    margin: .5px;
    width: 88px;
    height: 88px;
}

.casaEscura {
    float: left;
    font-size: 65px;
    text-align: center;
    background-color: #999;
    cursor: pointer;
    margin: .5px;
    width: 88px;
    height: 88px;
}

